body{
    background-color: white;
    color: gray;
    font-family: 'Dancing Script', cursive;
}

#e{
    width: 400px;
    height: 300px;
}

.my_footer{
    position:fixed;
    bottom: 20;
    width: 100%;
    height:150px;
    color:black;
}













